services:
  agdt.host:
    image: ${DOCKER_REGISTRY-}agdthost
    build:
      context: .
      dockerfile: Agdt.Host/Dockerfile
    depends_on:
      - db

  db:
    image: postgres:latest
    ports:
      - "5432:5432"
    volumes:
      - pg-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      PGDATA: /var/lib/postgresql/data

volumes:
  pg-data: